.details_container {
  margin: $margin-xl $margin-desktop-1x;

  @include desktop {
    &-first_column,
    &-second_column,
    &-third_column {
      width: 30%;
      position: absolute;
    }

    &-first_column {
      left: 5.5rem;
    }

    &-second_column {
      margin-left: calc(30% - 8rem);
    }

    &-third_column {
      margin-left: calc(62% - 10.5rem);
    }

    & > div:first-child {
      margin-left: calc((100% - 90% + 3.2rem) / 2);

      article {
        margin-bottom: $margin-l;
      }

      article:nth-of-type(n + 1),
      article:nth-of-type(n + 2) {
        margin-left: $margin-m;
      }
    }
  }
}
