@font-face {
  font-family: "Margin";
  src: url(./fonts/Margin.otf);
}

@font-face {
  font-family: "Oswald Medium";
  src: url(./fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Oswald Regular";
  src: url(./fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Oswald Light";
  src: url(./fonts/Oswald-Light.ttf);
}

@font-face {
  font-family: "Roboto Medium";
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Light";
  src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto Thin";
  src: url(./fonts/Roboto-Thin.ttf);
}

h1 {
  @include text_headline-1;
}

h2 {
  @include text_headline-2;
}

h3 {
  @include text_headline-3;
}

h4 {
  @include text_headline-4;
}

h5 {
  @include text_headline-5;
}

h6 {
  @include text_headline-6;
}

.text_subtitle-1 {
  @include text_subtitle-1;
}

.text_subtitle-2 {
  @include text_subtitle-2;
}

.text_body-1 {
  @include text_body-1;
}

.text_body-2 {
  @include text_body-2;
}

.text_overline {
  @include text_overline;
}

.text_caption {
  @include text_caption;
}
